* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

}

header {
    background-color: #FFEFE7;
    display: flex;
    padding: 10px 40px 10px 40px;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.avatar_icon{
    height: 60px;
}

.header_links{
    
}
